* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fcf5eb;
}
.whatsapp-header {
    display: flex;
}
.whatsapp-logo {
width: 40px;
margin: 10px 0px 0px 40px;
}
.whatsapp-word {
margin-top: 20px;
font-size: 20px;
font-weight: 600;
color: rgb(66, 192, 66);
}

#con1 {
    display: flex;
    justify-content: center;
    border-radius: 30px;
    border: 1px solid black;
    gap: 50px;
    margin: 40px 200px 15px 200px;
    padding: 20px 0px 20px 0px;
    background-color: white;
}
.word1 {
font-size: 20px;
font-weight: 500;
}
.word2 {
font-weight: 100;
padding-top: 5px;
}
.button {
    border-radius: 30px;
    border: 1px solid black;
    background-color: #25d366;
    color: black;
    padding: 15px 35px 15px 35px;
    font-size: 15px;
}
.button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}
#con2 {
    display: flex;
    border-radius: 30px;
    border: 1px solid black;
    gap: 10px;
    margin: 0px 200px 0px 200px;
    padding: 40px 0px 10px 0px;
    background-color: white;
}

.word3 {
    font-size: 30px;
    font-weight: 500;
    margin: 10px 0px 0px 50px;
}
.list {
    list-style-type: none;
    margin: 40px 0px 0px 70px;
}
.lis {
    font-size: 18px;
    font-weight: 500;
    margin-top: 30px;
}
.span-new {
     font-size: 17px;
    font-weight: 500;
    margin-top: 30px;
}
.list-con {
    position: absolute;
    top: 48.5%;
    /* z-index: 1; */
}
.list-number {
padding: 2px 6px 2px 6px;
 margin: 20px 0px 26px 35px;
border-radius: 50%;
border: 1px solid black;
}
.list-con2 {
    position: absolute;
    top: 48.5%;
    /* z-index: 1; */
}
.list-number1 {
/* padding: 2px 6px 2px 6px; */
 margin: 44px 0px 0px 46px;
border-left: 1px solid black;
height: 27px;
}
.list-number2 {
/* padding: 2px 6px 2px 6px; */
 margin: 22px 0px 0px 46px;
border-left: 1px solid black;
height: 27px;
}
.list-number3 {
/* padding: 2px 6px 2px 6px; */
 margin: 24px 0px 0px 46px;
border-left: 1px solid black;
height: 27px;
}
.span1 {
    margin-left: 32px;
}
.icon1 {
    position: absolute;
    top: 51%;
    left: 31.8%;
    width: 25px;
    border-radius: 9px;
}
#con3 {
    display: flex;
     margin: 35px 0px 0px 50px;
}
input[type="checkbox"] {
    accent-color: green;
    width: 20px; 
    height: 20px;
    margin-right: 20px;  
}
.left-side {
margin: 20px 0px 0px 150px;
}
.logo-whatsapp {
position: absolute;
 top: 50%;
right: 23%;
z-index: 1;
width: 100px;
}
.qr-code {
border-radius: 10px;
}

.word5 {
margin: 40px 25px;
border-bottom: 2px solid #25d366;
}
.word5 a {
    color: black;
}
.word5 a:hover {
    color: #25d366;
    cursor: pointer;
}
.con4 {
    display: flex;
    margin: 20px 0px 0px 450px;
}
.con4 p {
    font-size: 18px;
    font-weight: 500;
}

.cona a {
    font-size: 17px;
    margin-left: 10px;
    color: black;
    border-bottom: 2px solid #25d366;
}
.cona a:hover {
    color: #25d366;
    cursor: pointer;
}

@media  (min-width: 768) and (max-width: 1279) {
    .container  {
        flex-direction: column;
    }
    .button {
        display: none;
    }
    .icon1 {
        display: none;
    }
    .list-con {
        display: none;
    }
    .list-con2 {
        display: none;
    }
    .list {
        list-style-type: circle;
    }
 
}
@media  (min-width: 1024) and (max-width: 1365) {
   .container  {
        flex-direction: column;
    }
    .button {
        display: none;
    }
    .icon1 {
        display: none;
    }
    .list-con {
        display: none;
    }
    .list-con2 {
        display: none;
    }
    .list {
        list-style-type: circle;
    }
 
}